.loginSign__conteiner{
    background-color: var(--color-three);
    min-height: 200px;
    min-width: 200px;
    display: flex;
    padding: 2rem;
    z-index: 1000;
}
.loginSign__signUp{
    background-color: var(--color-three);
    min-height: 300px;
    min-width: 300px;
    border: solid 2px var(--color-one);
    margin-right: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.loginSign__signUp h3{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.loginSign__logIn{
    background-color: var(--color-three);
    min-height: 300px;
    min-width: 300px;
    border: solid 2px var(--color-one);
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.loginSign__logIn h3{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.loginSign__conteiner input{
    margin-bottom: 1rem;
}
.loginSign__conteiner label{
    margin-bottom: .5rem;
    color: white;
}
.loginSign__conteiner button{
    margin-top: 1rem;
}